header{
    background-color: #E0EFE4;
    width: 100%;
    height: 480px;
}
#headerContainer{
    width: 980px;
    margin: auto;
}
#rightHeader{
    float: right;
    width: px;
}
#topLink{
    border-radius: 16px;
    background-color: #2b8ccc;
    float: right;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 38px;
}
#logo{
    float:left;
    margin-top: 25px;
    margin-left: 30px;
}
#topLink a {
    color: #FFFFFF;
}
#Nav ul{
    list-style-type:none;
    font-size: 1.2em;
    color: #5c5a53
    font-family Charlemagne Std;
}
#nav ul li{
    float: left;
    margin-left: 30px;
    margin-right: 10px;
}
#nav{
    float: right;
    clear: right;
}
#headerContainer img{
    float: right;
    margin-top: 10px;
}
#leftheader h1{
    text-align: left;
    color: #2b8ccc;
    font-family: charlemagne std;
    font-style: normall;
    font-weight: 400;
    background-image: url(../homework2/images/Line.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto 1px;
}
#leftheader{
    float: left;
    margin-top: 18px;
    width: 360px;
    margin-left: 37px;
}
#leftheader h1 .h1sec2{
    color: #efa656;
}
#leftheader p{
    font-size: 18px;
}
#maincontainer{
    background-image: -webkit-linear-gradient(270deg,rgba(0,66,128,1.00)0%,rgba(61,142,193,1.00)100%);
    background-image: linear-gradient(180deg,rgba(0,66,128,1.00)0%,rgba(61,142,193,1.00)100%);
    width: 100%;
    height: 315px;
}
#wrapper{
    width: 980px;
    margin: auto;
}
#wrapper .cms{
    width: 210px;
    margin-left: 31px;
    padding: top 50px; 
    left: -4px;
    text-indent: 15px;
    float: left;
}
#wrapper .cms h3{
    color: #FFFFFF;
    text-align: left;
    text-indent: 14px;
    padding-top: 21px;
    font-family: Charlemagne std;
    font-size: 16px;
}
#wrapper .cms img{
    float: left;
}
#wrapper .cms a{
    background-image:url(../homework2/images/RArrow.png);
    background-repeat: no-repeat;
    background-position: left center;
    float: left;
}
#wrapper .cms p{
    clear: both;
    line-height: 1.2em;
    padding-top: 10px;
    font-size: 1em;
    text-indent: 0px;
}
#footer{
    background-color: #33326a;
    width: 100%;
    height: 40px;
    border-top: 1px solid #FFFFFF;
    text-align: center;
}
footer p {
    color: #FFFFFF;
}
@media(min-width: 768px) and (max-width: 1280px){
    body{
        font-size: 16px;
    }
}
@media(min-width: 480px) and (max-width: 768px){
    body{
        font-size: 22px;
    }
}
@media (min-width: 320px) and (max-width: 480px){
    body{
        font-size: 28px;
    }
}
@media(max-width:320px){
    body{
        font-size: 32px;
    }
}